* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --black: #272829;
    --gray: #61677A;
    --lightgray: #D8D9DA;
    --yellowish: #FFF6E0;
    --white: #fefefe;
    --green: #5BB318;
    --low-green: rgba(92, 180, 24, 0.5);
    --lightgreen: #7DCE13;
    --red: #D21312;
    --low-red: rgb(211, 18, 18, 0.5);
    --lightred: #ED2B2A;
    --blue: #0096FF;
    --low-blue: rgba(0, 149, 255, 0.5);
    --lightblue: #00D7FF;
    --yellow: #F4CE14;
}

body {
    background: var(--white);

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* PRINTING REPORT */

.print-container {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    overflow: auto;
}

.report-body {
    margin: 65px auto 0px auto;
    width: 50%;
}

.print-body {
    background: var(--white);
    box-shadow: 0px 0px 5px var(--black);
    padding: 10px 20px;
    clear: right;
}

.print-button {
    float: right;
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

#printbtn {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background: var(--blue);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

#cancelbtn {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background: var(--red);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.print-button img {
    width: 20px;
}

#cancelbtn:hover {
    background: var(--lightred);
    outline: 4px solid var(--low-red);
}

#printbtn:hover {
    background: var(--lightblue);
    outline: 4px solid var(--blue);
}

.upper {
    clear: right;
    display: flex;
    justify-content: space-between;
}

.upper img {
    width: 130px;
    border-radius: 50%;
}

.report-table {
    margin-top: 10px;
}

.business-info {
    line-height: 25px;
}

@media print {

    * {
        page-break-inside: avoid;
    }

    @page {
        margin: 0;
    }

    .header {
        display: none !important;
    }

    .nav-body,
    #nav {
        display: none !important;
    }

    .dashboard {
        display: none !important;
    }

    .print-body {
        box-shadow: none;
        width: 100%;
        height: 100%;
    }

    .print-container {
        background: var(--white);
        font-size: 2rem;
        height: 100%;
        width: 100%;
        position: static;
    }

    .print-button {
        display: none;
    }

    .upper img {
        width: 250px;
    }

    .business-info {
        line-height: 45px;
    }

    .report-table {
        margin-top: 20px;
    }

    .report-table table th,
    .report-table table td {
        padding-top: 30px;
    }

    .head,
    .boxes {
        display: none !important;
    }
}

/* END OF REPORT */

/* start of dashboard */

/* header */

.header {
    background: var(--gray);
    height: 55px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    z-index: 2;
    color: var(--white);
    box-shadow: 0px 0px 5px var(--black);
}

#menu-icon {
    cursor: pointer;
    position: relative;
}

#menu-icon div {
    width: 25px;
    height: 4px;
    background-color: var(--white);
    margin: 4px 0;
    border-radius: 2px;
}

.left {
    display: flex;
    font-size: 0.8em;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}

.left img {
    width: 45px;
    border-radius: 50%;
}

.right {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.right h3 {
    margin-right: 20px;
}

.right a {
    color: var(--black);
    transition: color 300ms;
    font-size: 1.3rem;
}

.right img {
    width: 35px;
    border-radius: 50%;
}

.right a:hover {
    color: var(--white);
}

/* navigation menu */
.nav {
    position: fixed;
    z-index: 1;
    top: 55px;
    height: 100vh;
    left: 0px;
    height: 100vh;
    transition: left 300ms;

}

.hide-nav {
    position: fixed;
    z-index: 1;
    top: 55px;
    height: 100vh;
    left: -1000px;
    transition: left 1s;
    width: 100%;
}

#nav {
    background: var(--black);
    width: 210px;
    height: 100vh;
    overflow: auto;
    box-shadow: 0px 0px 5px var(--black);
}

#list-container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#list-container p {
    color: var(--gray);
    font-weight: 600;
}

#list-container a {
    margin-left: 20px;
    color: var(--lightgray);
    transition: color 300ms;
}

#list-container a:hover {
    color: var(--white);
}

/* end of navigation */

/*dashboard */

.body {
    position: relative;
    top: 54px;
    margin-left: 210px;
    padding: 15px;
    transition: margin-left 300ms;
}

.body-move {
    position: relative;
    top: 54px;
    padding: 15px;
    margin-left: 0px;
    transition: margin-left 300ms;
}

.head {
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
}

.head button {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 5px;
    align-self: flex-end;
    background: var(--blue);
    font-size: 1rem;
    display: flex;
    gap: 5px;
    padding: 5px;
}

.head img {
    width: 20px;
}

.head button:hover {
    background: var(--lightblue);
    outline: 4px solid var(--blue);
}

.boxes {
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

#box1 {
    background: var(--blue);
}

.box {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    flex-grow: 1;
}

.box img {
    width: 90px;
    height: 130px;
    margin-left: 5px;
}

.box div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    line-height: 35px;
    font-size: 1.5em;
}

.box h3 {
    font-size: 1em;
}

.box p {
    color: #EDEDED;
    align-self: flex-end;
}

#box2 {
    background: var(--yellow);
}

#box2 img,
#box3 img,
#box4 img {
    width: 85px;
    height: 120px;
    margin-left: 5px;
    margin-top: 5px;
}

#box3 {
    background: var(--green);
}

#box4 {
    background: var(--red);
}

.dashboard {
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 20px;
    margin-top: 20px;
}

.sale-body,
.inventory-body,
.profit-body,
.sale-product,
.sale-permonth,
.expense-body {
    background: var(--white);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
    overflow: auto;
}

#products,
#sale,
#profits,
#product-sale,
#product-month,
#expenses {
    width: 100%;
    height: 100%;
}


/* end of  dashboard */


/* start of add product */

.form {
    border-radius: 5px;
    display: none;
}

.show-form {
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.form-container {
    margin: 100px auto 0px auto;
    width: 50%;
    animation: show-form 300ms;
    display: grid;
}

@keyframes show-form {
    from {
        margin-top: -200px;
    }

    to {
        margin-top: 100px;
    }
}

.header-form {
    background: var(--gray);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
}

.header-form p {
    display: block;
    cursor: pointer;
    font-size: 1.5em;
    transition: transform 300ms;
}

.header-form p:hover {
    transform: scale(1.1);
}

#form-body,
#form-stock {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    gap: 20px;
    background: var(--black);
    padding: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: var(--white);
}

#form-supplier,
#form-sched {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0px 10px;
    gap: 20px;
    background: var(--black);
    padding: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: var(--white);
}

.input-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-body input,
select {
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none;
    width: 100%;
}

.emptyinput,
.empty {
    color: var(--lightred);
    display: none;
}

.input-body input:focus {
    box-shadow: 0px 0px 5px var(--blue);
}

.buttons {
    grid-row: 4/4;
    grid-column: 1/3;
}

.buttons button {
    padding: 5px 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

#add,
#update {
    background: var(--blue);
}

#add:hover,
#update:hover {
    background: var(--lightblue);
    outline: 3px solid var(--low-blue);
}

#reset {
    background: var(--red);
}

#reset:hover {
    background: var(--lightred);
    outline: 3px solid var(--low-red);
}

/* end of add product */

/* delete product */

.alert-body,
.receive-body {
    display: none;
}

.alert-body-show,
.receive-body-show {
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.alert-container {
    background: var(--white);
    margin: 100px auto 0px auto;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    animation: alertactive 300ms;
}

@keyframes alertactive {
    from {
        margin-top: -150px;
    }

    to {
        margin-top: 100px;
    }
}

.alert-container img {
    width: 200px;
}

.alert-container p {
    font-size: 1.1rem;
    text-align: center;
}

.buttons-alert {
    display: flex;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttons-alert button,
#del-sched {
    border: none;
    font-size: 1rem;
    flex-basis: 50%;
}

.buttons-alert #del {
    background: var(--lightred);
}

.buttons-alert #del:hover {
    background: var(--red);
    color: var(--white);
}

.buttons-alert button {
    background: var(--gray);
    padding: 10px;
    cursor: pointer;
}

.buttons-alert #close-deletion:hover,
#close-receive:hover {
    background: var(--black);
    color: var(--white);
}

#del-sched {
    background: var(--lightgreen);
    padding: 5px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
}

#del-sched:hover {
    background: var(--green);
    color: var(--white);
}

/* end of delete product */

/* products info */

.data-body {
    border-radius: 5px;
    box-shadow: 0px 0px 5px var(--black);

}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--gray);
    padding: 10px;
    color: var(--black);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.add img,
#delete img,
#selectall img {
    width: 20px;
}

.btns button {
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.btns {
    display: flex;
    gap: 8px;
}

.btns button:nth-of-type(3) {
    background: var(--blue);
}

.btns button:nth-of-type(3):hover {
    background: var(--lightblue);
    outline: 4px solid var(--low-blue)
}

.btns button:nth-of-type(2) {
    background: var(--red);
}

.btns button:nth-of-type(2):hover,
.btns button:nth-of-type(2):focus {
    background: var(--lightred);
    outline: 4px solid var(--low-red);
}

.add {
    background: var(--green);
}

.add:hover,
.add:focus {
    background: var(--lightgreen);
    outline: 4px solid var(--low-green);
}

.search {
    width: 97%;
    margin: 10px auto 0px auto;
}

#searchbtn {
    border: none;
    font-size: 0.9em;
    color: var(--black);
    padding: 4px;
    border-radius: 3px;
    background: var(--blue);
    cursor: pointer;
    margin-left: 1px;
}

#searchbtn:hover {
    background: var(--lightblue);
    outline: 4px solid var(--lightblue);
}

.search input {
    padding: 5px;
    border: 1px solid var(--black);
    outline: none;
    border-radius: 5px;
}

.search input:focus {
    box-shadow: 0px 0px 5px var(--blue);
}

.added,
.updated,
.prodreceive {
    margin-bottom: 5px;
    background: var(--low-green);
    border: 1px solid var(--black);
    padding: 10px;
    font-size: 0.9rem;
    width: 35%;
    opacity: 1;
    animation: fade 4s;
}

.deleted,
.emptystocks,
.lessquantity,
.exist {
    margin-bottom: 5px;
    border: 1px solid var(--black);
    background: var(--low-red);
    padding: 10px;
    font-size: 0.9rem;
    width: 35%;
    opacity: 1;
    animation: fade 4s;
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.added p,
.deleted p,
.updated p,
.emptystocks p,
.lessquantity p,
.prodreceive p,
.exist p {
    font-weight: bold;
}

.added p:nth-child(1) span,
.updated p:nth-child(1) span,
.prodreceive p:nth-child(1) span {
    background: #034e06;
    color: #EDEDED;
    border-radius: 50%;
    padding: 3px;
}

.deleted p:nth-child(1) span,
.emptystocks p:nth-child(1) span,
.lessquantity p:nth-child(1) span,
.exist p:nth-child(1) span {
    background: var(--red);
    color: #EDEDED;
    border-radius: 50%;
    padding: 3px;
}

.form-table {
    overflow: auto;
}

table {
    border-collapse: collapse;
    width: 97%;
    margin: 0px auto 0px auto;
}

th,
td {
    padding: 15px;

}

th {
    text-align: left;
}

td {
    border-top: 1px solid black;
}


#sched-btns {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

#receive {
    background: var(--lightgreen);
    border: none;
    border-radius: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 1em;
    color: #000;
    cursor: pointer;
    display: flex;
    gap: 5px;
}

#receive:hover,
#receive:focus {
    outline: 4px solid rgb(12, 169, 17, 0.3);
}

.edit {
    background: var(--blue);
    border: none;
    border-radius: 5px;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 1em;
    color: #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.edit:hover,
.edit:focus {
    background: var(--lightblue);
    outline: 4px solid var(--low-blue);
}

.edit img,
#receive img {
    width: 20px;
}

.delete {
    background: #DA0037;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    color: #000;
    font-size: 1em;
}

.delete:hover {
    background: #FE0000;
}

/* page */

.page {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 97%;
    margin: 10px auto 0px auto;
    padding-bottom: 10px;
}

.page-list {
    display: flex;
}

.page-list li a {
    color: #000;
    background: #928f8f;
    padding: 2px 10px;
    border: 1px solid #000;
    cursor: pointer;

}

.page li a:hover {
    background: #bab4b4;
}

/* end of page */

/* start of product modal */

.modal-product,
.modal-sales,
.modal-expense,
.modal-supplier,
.modal-worker,
.modal-transaction,
.modal-account,
.modal-stock {
    display: none;
}

.modal-product-show,
.modal-sales-show,
.modal-expense-show,
.modal-supplier-show,
.modal-worker-show,
.modal-transaction-show,
.modal-account-show {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.form-modal {
    width: 100%;
    animation: showmodal 300ms;
    margin-top: -80px;
}

@keyframes showmodal {
    from {
        margin-top: -200px;
    }

    to {
        margin-top: -80px;
    }
}

.header-modal {
    background: var(--gray);
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: var(--white);
}

.modal-body {
    margin: 180px auto 0px auto;
    width: 50%;
    display: flex;
}

.edit-product,
.edit-stock,
.edit-sales,
.edit-expense,
.edit-worker,
.edit-transaction,
.edit-account,
.edit-stock {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: var(--black);
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: var(--white);
}

.edit-worker {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 10px;
    gap: 20px;
    background: var(--black);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: var(--white);
}

.edit-supplier {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 10px;
    gap: 20px;
    background: var(--black);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: var(--white);
}

#btn-supplier {
    grid-row: 4/4;
    grid-column: 1/3;
}

#btn-worker {
    grid-row: 3/3;
    grid-column: 1/3;
}

.input-edit input {
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none;
    width: 100%;
}

.input-edit {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#cancel {
    background: #DA0037;
    color: #000;
    padding: 5px;
    border-radius: 5px;
}

#cancel:hover {
    background: #FE0000;
}

/* end of product modal */

/* small laptop */

@media (max-width: 1076px) {
    .boxes {
        display: grid;
        grid-template-columns: auto auto;
    }

    #box1,
    #box2,
    #box3,
    #box4 {
        border-radius: 5px;
    }

    #box1,
    #box2,
    #box3,
    #box4 {
        background: #0d83cd;
        display: flex;
        justify-content: space-between;
    }

    #box1 img {
        width: 90px;
        height: 130px;
        margin-left: 5px;
    }

    #box1 div,
    #box2 div,
    #box3 div,
    #box4 div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        line-height: 35px;
        font-size: 1.5em;
    }

    #box1 h3,
    #box2 h3,
    #box3 h3,
    #box4 h3 {
        font-size: 1em;
    }

    #box1 p,
    #box2 p,
    #box3 p,
    #box4 p {
        color: #EDEDED;
        align-self: flex-end;
    }

    #box2 {
        background: #e8eb1b;
    }

    #box2 img,
    #box3 img,
    #box4 img {
        width: 85px;
        height: 120px;
        margin-left: 5px;
        margin-top: 5px;
    }

    #box3 {
        background: #0ca911;
    }

    #box4 {
        background: #DA0037;
    }

    .dashboard {
        grid-template-columns: auto;
        gap: 10px;
    }

    .sale-body,
    .inventory-body {
        gap: 20px;
        margin-top: 10px;
    }



}

/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .nav {
        left: -1000px;
        transition: left 1s;
    }

    .show-nav {
        position: fixed;
        z-index: 1;
        top: 55px;
        height: 100vh;
        left: 0px;
        transition: left 300ms;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
    }

    .body {
        margin-left: 0px;
        padding: 20px;
    }

    .product-list {
        flex-basis: 100%;
    }


    .form-container {
        margin: 110px auto 0px auto;
        width: 80%;
        animation: show-form 300ms;
    }

    .search {
        align-self: flex-end;
    }

    .alert-container {
        margin: 100px auto 0px auto;
        width: 60%;
        padding: 5px;
        animation: alertactive 300ms;
    }

    @keyframes alertactive {
        from {
            margin-top: -150px;
        }

        to {
            margin-top: 100px;
        }
    }

    .report-body {
        width: 90%;
    }
}

/* phone */
@media (max-width: 767px) {

    #btn-supplier {
        grid-row: 4/4;
    }

    #menu-icon div {
        display: block;
    }

    .nav {
        left: -1000px;
        transition: left 1s;
    }

    .show-nav {
        position: fixed;
        z-index: 1;
        top: 55px;
        height: 100vh;
        left: 0px;
        transition: left 300ms;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
    }

    .body {
        margin-left: 0px;
    }

    .boxes {
        display: flex;
        flex-direction: column;

    }

    .product-list,
    .stock-list {
        flex-basis: 100%;
    }

    .form-container {
        width: 90%;
    }

    .search {
        align-self: flex-end;
    }

    .alert-container {
        margin: 100px auto 0px auto;
        width: 65%;
        padding: 5px;
        animation: alertactive 300ms;
    }

    @keyframes alertactive {
        from {
            margin-top: -150px;
        }

        to {
            margin-top: 100px;
        }
    }

    .alert-container p {
        font-size: 1.1rem;
    }

    .alert-container img {
        width: 50%;
    }

    .form-container {
        margin: 100px auto 0px auto;
    }

    .edit-supplier {
        gap: 7px;
    }

    .modal-body {
        width: 90%;
    }

    .report-body {
        margin: 65px auto 0px auto;
        width: 90%;
    }

    .head {
        flex-direction: column;
        gap: 10px;
    }

    .head button {
        align-self: flex-start;
    }

    .added,
    .deleted,
    .exist,
    .updated,
    .prodreceive,
    .emptystocks,
    .lessquantity {
        width: 45%;
    }
}

@media (max-width: 550px) {

    .form-container {
        width: 90%;
    }

    .left h2 {
        display: none;
    }

    .alert-container {
        width: 80%;
    }

    .modal-body {
        width: 90%;
    }

    .added,
    .deleted,
    .exist,
    .updated,
    .prodreceive,
    .emptystocks,
    .lessquantity {
        width: 100%;
    }
}

@media (max-width: 476px) {

    .header-info {
        flex-direction: column;
        align-items: flex-start;
    }

}

@media (max-width: 376px) {

    .form-container {
        width: 90%;
        margin: 100px auto 0px auto;
    }

    .alert-container p {
        font-size: 1rem;
    }

    .upper {
        flex-direction: column;
        gap: 10px;
    }

    .upper img {
        align-self: center;
    }
}

@media (max-width: 320px) {

    .boxes {
        margin-top: 10px;
    }

    .alert-container {
        width: 90%;
    }

    .alert-container p {
        font-size: 1rem;
    }

    .form-container {
        margin: 100px auto 0px auto;
    }

    .header-form h2 {
        font-size: 1.2rem;
    }

}